{
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:require-extensions/recommended"
  ],
  "settings": {
    "import/resolver": {
      "typescript": true,
      "node": true
    }
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "require-extensions"],
  "rules": {
    "no-console": "warn",
    "no-unreachable": "warn",
    "import/order": ["error", { "alphabetize": { "order": "asc", "caseInsensitive": true } }],
    "import/consistent-type-specifier-style": ["error", "prefer-top-level"]
  },
  "root": true
}
